@charset "UTF-8";
/* CSS Document */ 


/* ======================= CLASSES COMUNS ========================*/
.tooltip_templates { display: none; }
div.center {
 text-align: center;
}

.divider {
margin-bottom: 0px;
}

.titulo {
 	border: solid 2px #000;
    border-radius: 25px;
    font-family: roboto, sans-serif;
	font-weight: 400;
	text-align: center;
        padding: 15px;
        display: block;	
 }

.destaquebranco {
 	color: #FFF;
        font-family: roboto, sans-serif;
	font-weight: 400;
	text-align: center;
        padding: 15px;
        display: inline;
 }

.media_personagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

li{
	padding-top: 10px;
	padding-left: 25px
}

p{
      font-family: roboto, sans-serif;
      font-weight: 400;
	padding-top: 20px;
}
.txt {
       font-size: 18px; 
}
.tituloCap /* Guilherme */{
	font-size: 20px;
	font-weight: bold;
	padding-top: -25px !important;
	padding-left: 5px;
	border-left: 5px solid #ec0910;
        margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 15px;
	display: inline-block;
	
}
.tituloCap1 /* Guilherme */{
	font-size: 20px;
	font-weight: bold;
	padding-top: -25px !important;
	padding-left: 5px;
	border-left: 5px solid #ec0910;
    margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 30px;
	display: inline-block;
	
}
.pergunta_box {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	box-sizing: content-box;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid;
	width: auto;
	padding: 4px;
	margin-bottom: 20px;
        display: inline-block;
	margin: 20px 0px; 
}
.btn {
	margin-right: 20px;
}


/* Entomologia */
.wrappergray {
	background-color:#FFECC6/*#CFECFF*/ /*#F0F0F0*/;
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-radius: 25px;*/
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 1400px;
	margin: 0 auto;
}

/* Vigilância */

.wrapper {
	background-color:#E4F1FE;
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-radius: 25px;*/
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 1400px;
	margin: 0 auto;
}


/* QGIS */

.wrapperGIS {
	background-color:#DCEFDA;
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-radius: 25px;*/
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 1400px;
	margin: 0 auto;
}





/* ========================== PARA CELULAR ======================================*/
@media only screen and (max-width: 768px) {
    /* ========== ATIVIDADE PRÁTICA ========*/
	.padraoAtividade3IMG {
		background-image: url("img/qgis/img_comuns/atividade Pratica.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 215px;
		margin-left: -45px;
		margin-top: -75px;
	}
	/* ========== CONCEITO ========== */
    .padraoConceito {
		display: inline-block;
		color: #000;
		margin-top: 40px;
		margin-bottom: 15px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color:#ffffff;
		margin-left: 38px;
		margin-right: 5px;
	}

	.padraoConceitoIMG {
		background-image: url("img/entomologia/img_comuns/conceito.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoConceito2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-conceito.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoConceito3IMG {
		background-image: url("img/qgis/img_comuns/conceito.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -5px;
		margin-top: -75px;
	}
	
	/* ========== COMUNIDADE ========== */
	
	.padraoComunidade {
		display: inline-block;
		color: #000;
		margin-top: 20px;
		margin-bottom: 15px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color:#ffffff;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoComunidade2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-comunidade.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	/* ========== DESTAQUE ========== */
	
	.padraoDestaque {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoDestaqueIMG {
		background-image: url("img/entomologia/img_comuns/destaque.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

    
    .padraoDestaque_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/destaque.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
	.padraoDestaque2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-destaque.png");
	   	background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoDestaque3IMG {
		background-image: url("img/qgis/img_comuns/destaque.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.padraoDestaqueWI {
		color: #000;
		background-color:#FFF3E7/*#FFDCDD*/ ;
		margin-top: 20px;
		margin-bottom: 15px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border: solid 3px #ec0910;
		border-radius: 15px;
		margin-left: 0px;
		margin-right: 0px;
		width: 100% !important;
	}

	.wrapperDestaque {
		background-color:#F27224;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperDestaque2 {
		background-color:#3894D1;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperDestaque3 {
		background-color:#76923C;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== DICA ========= */

	.padraoDica {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoDicaIMG {
		background-image: url("img/entomologia/img_comuns/fica_a_dica.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoDica_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/fica_a_dica.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}


	.padraoDica2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-ficaadica.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoDica3IMG {
		background-image: url("img/qgis/img_comuns/Fica_a_dica.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}


	.wrapperFicaadica {
		background-color:#EC974E;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperFicaadica2 {
		background-color:#50C7E3;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperFicaadica3 {
		background-color:#C3D69B;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Exemplo ==========*/
	.padraoExemplo {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoExemploIMG {
		 background-image: url("img/entomologia/img_comuns/exemplo.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoExemplo_es_IMG {
		 background-image: url("img/entomologia_es/img_comuns/exemplo.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoExemplo2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-exemplo.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoExemplo3IMG {
		 background-image: url("img/qgis/img_comuns/exemplo.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.wrapperExemplo {
		background-color: #F7C99C;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExemplo2 {
		background-color: #86E2D5;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExemplo3 {
		background-color: #86E2D5;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Exercitando ========== */

	.padraoExercitando {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoExercitandoIMG {
		background-image: url("img/entomologia/img_comuns/exercitando.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoExercitando_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/exercitando.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoExercitando2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-exercitando.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoExercitando3IMG {
		background-image: url("img/qgis/img_comuns/exercitando.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 215px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.wrappergreen {
		background-color: #357f47;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	.wrapperExercitando2 {
		background-color: #357f47;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExercitando3 {
		background-color: #87D37C;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Importante ========== */
	
	.padraoImportante {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoImportanteIMG {
		background-image: url("img/entomologia/img_comuns/importante.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoImportante_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/importante.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoImportante2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-importante.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.padraoImportante3IMG {
		background-image: url("img/qgis/img_comuns/importante.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.wrapperImportante {
		background-color: #EF4238;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	.wrapperImportante2 {
		background-color: #286F7F;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperImportante3 {
		background-color: #B72821;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Opcional ========== **/

	.padraoOpcional {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 15px;
		text-align: left;
		/*border: solid 2px #70B15B;*/
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoOpcionalIMG {
		background-image: url("img/entomologia/img_comuns/opcional.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoOpcional2IMG {
		background-image: url("img/vigilancia/img_comuns/opcional.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	/** ========== Para Refletir ========== **/
	
	
	.padraoParaRefletir {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoParaRefletirIMG {
		background-image: url("img/entomologia/img_comuns/para_refletir.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoParaRefletir_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/para_refletir.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoParaRefletir2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-pararefletir.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoParaRefletir3IMG {
		background-image: url("img/qgis/img_comuns/para_refletir.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.wrapperParaRefletir {
		background-color: #F9F3A2;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperParaRefletir2 {
		background-color: #F9F3A2;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperParaRefletir3 {
		background-color: #26A65B;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	/** ========= Saiba mais ========== **/
	
	.padraoSaibaMais {
		color: #000;
		margin-top: 20px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 5px 5px 5px 5px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 5px;
		margin-right: 5px;
	}

	.padraoSaibaMaisIMG {
		background-image: url("img/entomologia/img_comuns/saiba_mais.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}
    
    .padraoSaibaMais_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/saiba_mais.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 75px;
		width:65px;
		margin-left: -35px;
		margin-top: -35px;
	}

	.padraoSaibaMais2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-saibamais.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -5px;
		margin-top: -38px;
	}

	.padraoSaibaMais3IMG {
		background-image: url("img/qgis/img_comuns/saiba_mais.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 215px;
		margin-left: -45px;
		margin-top: -75px;
	}

	.wrapperSaibamais {
		background-color: #F8BE3A;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	
	.wrapperSaibamais2 {
		background-color: #53B3C9;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 0px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperSaibamais3 {
		background-color: #F5E653;
		padding-top: 20px;
		padding-bottom: 35px;
		padding-left: 38px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	/** ========== Classes auxiliares ========== **/
	
	.apresentacao {
		display: grid;
		grid-template-columns: 100% 0%;
	}
	
	
	
	.imgLateral {
		display: none;
	}
	
	.txtcentro {
		display: block;
		width: 100%;
	}

	.txtCelula {
		display: inline-block;
	}
	
	.imgCrop {	
		height:auto; 
		overflow: hidden;
		margin: 10px;
		max-width: 100%;
	}
	.img-resp {
	width: 90% !important;
}
.img-video {
	width: calc(560px - 150px)  !important;
	height: calc(315px - 80px) !important;
}
.tam-sm-img-hide {
	display: none;
	width: 50%;
	float: right;
	
}
	.tam-sm-img {
	width: 50% !important;
	float:none;
	align-content: center;
        padding-top: 8px
}
	
	
}
/* =================================== FIM DAS CLASSES PARA CELULAR ======================== */






/* =================================== PARA COMPUTADOR ======================== */
@media only screen and (min-width: 768px) {
/* ========== ATIVIDADE PRÁTICA ========*/
	.padraoAtividade3IMG {
		background-image: url("img/qgis/img_comuns/atividade Pratica.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 215px;
		margin-left: -100px;
		margin-top: -75px;
	}
	
	/* ========== Conceito ========*/
    .padraoConceito {
		display: inline-block;
		color: #000;
		margin-top: 50px;
		margin-bottom: 35px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;

		border-radius: 15px;
		background-color:#ffffff;
		margin-left: 55px;
		margin-right: 35px;	
	}

	.padraoConceitoIMG {
		background-image: url("img/entomologia/img_comuns/conceito.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
	
	.padraoConceito2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-conceito.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoConceito3IMG {
		background-image: url("img/qgis/img_comuns/conceito.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}

	/** ========== Comunidade ========== **/
	
	.padraoComunidade {
		display: inline-block;
		color: #000;
		margin-top: 50px;
		margin-bottom: 35px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color:#ffffff;
		margin-left: 55px;
		margin-right: 35px;
	}

	.padraoComunidade2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-comunidade.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	/** ========== Destaque ========== **/

	.padraoDestaque {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}

	.padraoDestaqueWI {
		color: #000;
		background-color:#FFF3E7/*#FFDCDD*/ ;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 15px;
		text-align: left;
		border: solid 3px #ec0910;
		border-radius: 15px;
		margin-left: 35px;
		margin-right: 35px;
	}

	.padraoDestaqueIMG {
		background-image: url("img/entomologia/img_comuns/destaque.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
    
    .padraoDestaque_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/destaque.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
    
	.padraoDestaque2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-destaque.png");
	   	background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoDestaque3IMG {
		background-image: url("img/qgis/img_comuns/Destaque.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 40% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.wrapperDestaque {
		background-color:#F27224;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperDestaque2 {
		background-color:#3894D1;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperDestaque3 {
		background-color:#76923C;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Dica ========== **/
	
	.padraoDica {

		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}
	
	.padraoDicaIMG {
		background-image: url("img/entomologia/img_comuns/fica_a_dica.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
    
    .padraoDica_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/fica_a_dica.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}


	.padraoDica2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-ficaadica.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoDica3IMG {
		background-image: url("img/qgis/img_comuns/Fica_a_dica.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 40% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.wrapperFicaadica {
		background-color:#EC974E;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}


	.wrapperFicaadica2 {
		background-color:#50C7E3;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperFicaadica3 {
		background-color:#C3D69B;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Exemplo ========== **/
	
	
	.padraoExemplo {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}


	.padraoExemploIMG {
		 background-image: url("img/entomologia/img_comuns/exemplo.png");
		background-position: -0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}
    
    .padraoExemplo_es_IMG {
		 background-image: url("img/entomologia_es/img_comuns/exemplo.png");
		background-position: -0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}


	.padraoExemplo2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-exemplo.png");
		background-position: -0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoExemplo3IMG {
		background-image: url("img/qgis/img_comuns/Exemplo.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 40% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.wrapperExemplo {
		background-color: #F7C99C;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExemplo2 {
		background-color: #86E2D5;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExemplo3 {
		background-color: #86E2D5;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	/** ========== Exercitando ========== **/

	.padraoExercitando {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}

	.padraoExercitandoIMG {
		background-image: url("img/entomologia/img_comuns/exercitando.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
    
    .padraoExercitando_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/exercitando.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.padraoExercitando2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-exercitando.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoExercitando3IMG {
		background-image: url("img/qgis/img_comuns/Exercitando.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.wrappergreen {
		background-color: #357f47;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExercitando2 {
		background-color: #357f47;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperExercitando3 {
		background-color: #87D37C;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Importante ========= **/

	.padraoImportante {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}


	.padraoImportanteIMG {
    background-image: url("img/entomologia/img_comuns/importante.png");
    background-position: -0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}
    
    .padraoImportante_es_IMG {
    background-image: url("img/entomologia_es/img_comuns/importante.png");
    background-position: -0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}


	.padraoImportante2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-importante.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoImportante3IMG {
		background-image: url("img/qgis/img_comuns/Importante.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 40% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}


	.wrapperImportante {
		background-color: #EF4238;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperImportante2 {
		background-color: #286F7F;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperImportante3 {
		background-color: #B72821;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========== Opcional ========== **/

	.padraoOpcional {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		/*border: solid 2px #70B15B;*/
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}


	.padraoOpcionalIMG {
		background-image: url("img/entomologia/img_comuns/opcional.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.padraoOpcional2IMG {
		background-image: url("img/vigilancia/img_comuns/opcional.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	/** ========== Para Refletir ========= **/

	.padraoParaRefletir {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}

	.padraoParaRefletirIMG {
		background-image: url("img/entomologia/img_comuns/para_refletir.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}
    
    .padraoParaRefletir_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/para_refletir.png");
		background-position: -4px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 125px;
		width: 85px;
		margin-left: -100px;
		margin-top: -45px;
	}

	.padraoParaRefletir2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-pararefletir.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoParaRefletir3IMG {
		background-image: url("img/qgis/img_comuns/Para_refletir.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 40% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.wrapperParaRefletir {
		background-color: #F9F3A2;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperParaRefletir2 {
		background-color: #F9F3A2;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperParaRefletir3 {
		background-color: #26A65B;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	/** ========= Saiba mais ========== **/

	.padraoSaibaMais {
		color: #000;
		margin-top: 30px;
		font-family: roboto, sans-serif;
		font-weight: 400;
		padding: 15px 15px 15px 60px;
		text-align: left;
		border-radius: 15px;
		background-color: #FFFFFF;
		margin-left: 35px;
		margin-right: 35px;
	}

	.padraoSaibaMaisIMG {
		background-image: url("img/entomologia/img_comuns/saiba_mais.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}
    
    .padraoSaibaMais_es_IMG {
		background-image: url("img/entomologia_es/img_comuns/saiba_mais.png");
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 85px;
		margin-left: -100px;
		margin-top: -75px;
	}

	.padraoSaibaMais2IMG {
		background-image: url("img/vigilancia/img_comuns/icone-vigi-saibamais.png");
		background-position: -1px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 100px;
		width: 150px;
		margin-left: -90px;
		margin-top: -38px;
	}

	.padraoSaibaMais3IMG {
		background-image: url("img/qgis/img_comuns/saiba_mais.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		float: left;
		height: 175px;
		width: 200px;
		margin-left: -100px;
		margin-top: -75px;
		
	}
	
	.wrapperSaibamais {
		background-color: #F8BE3A;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}
	
	.wrapperSaibamais2 {
		background-color: #53B3C9;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	.wrapperSaibamais3 {
		background-color: #F5E653;
		padding-top: 15px;
		padding-bottom: 35px;
		padding-left: 25px;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: -10px;
	}

	

	/** ========== Classes auxiliares ========= **/
	
	
	.apresentacao {
		display: grid;
		grid-template-columns: 70% 30%;
		grid-gap: 10px;
		margin: 0px 0px 50px 0px;	
	}

	
	
	.imgLateral {
		bottom: 0;
		margin-left: 25px;
		justify-self: stretch;
	}
	
	
	.txtcentro {
		display: table;
		width: 100%;
	}

	.txtCelula {
		display: table-cell;
		vertical-align: middle;
	}
	
	.imgCrop {	
		height:auto; 
		overflow: hidden;
		margin: 10px;
	}
	.img-resp {
	width: 60% !important;
}

.img-video {
	width: 560px !important;
	height: 315px !important;
}
}

/* ======================== FIM DAS CLASSES PARA COMPUTADOR ====================== */





p {
	text-align: justify;
	margin: 0px 0px 0px 30px !important;
}


.pull-right {
	float: right;
}


.btn-proepi-green {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-proepi-blue {
	background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-proepi-red {
	background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tabela-conteudo {
	max-width: 1400px;
	border: none;
}

.tabela-conteudo td p {
	background-color: #fff;
	border-radius: 25px;
	padding: 25px;
	
}


.tituloCap0 {
	font-size: 30px;
	font-weight: bold;
	padding-top: -25px !important;
	margin-left: 30px;
	padding-bottom: 1px;
	border-bottom: 5px solid #ec0910;
        margin-bottom: 15px;
	display: inline-block;
}


.tabelahead {
	background-color: #8A8A8A;
	margin-top: 5px;
	color: #FFFFFF;	
	text-align: center;
}


.ident {
	text-indent: 25px;
}

.quadroB {
/*	display: inline-block;*/
	color: #000;
    margin-top: 15px;
/*	margin-bottom: 35px;*/
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 0px 10px 0px 15px;
    text-align: left;
   /* border: solid 2px #00A89B;*/
    border-radius: 15px;
    background-color: #ffffff/*#F0F0F0*/;
/*    margin-left: 55px;*/
/*    margin-right: 35px;*/
}

figcaption {
	text-align: center;
  	font-style: normal;
  	font-size: 12px;
  	text-indent: 0;
}



.fala_personagem {
    text-align: center;
	background-color: #F8FDEE;
	border: #A3F7AC 2px solid;
	border-radius: 15rem;
	padding: 3rem;
	margin: 1rem !important;
}



.img-100 {
	width: 100% !important;
}

.tam-sm-img-100 {
    width: 100% !important;
	float:none;
	align-content: center;
        padding-top: 8px
}
