@charset "UTF-8";
/* CSS Document */

.tooltip_templates { display: none; }
div.center {
 text-align: center;
}

.divider {
margin-bottom: 0px;
}

.titulo {
 	border: solid 2px #000;
    border-radius: 25px;
    font-family: roboto, sans-serif;
	font-weight: 400;
	text-align: center;
        padding: 15px;
        display: inline;
 }

.destaquebranco {
 	color: #FFF;
        font-family: roboto, sans-serif;
	font-weight: 400;
	text-align: center;
        padding: 15px;
        display: inline;
 }

li{
	padding-top: 10px;
	padding-left: 25px
}

p{
      font-family: roboto, sans-serif;
      font-weight: 400;
	padding-top: 20px;
}
.txt {
       font-size: 18px; 
}
.tituloCap /* Guilherme */{
	font-size: 20px;
	font-weight: bold;
	padding-top: -25px !important;
	padding-left: 5px;
	border-left: 5px solid #ec0910;
        margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 15px;
	display: inline-block;
	
}
.tituloCap1 /* Guilherme */{
	font-size: 20px;
	font-weight: bold;
	padding-top: -25px !important;
	padding-left: 5px;
	border-left: 5px solid #ec0910;
        margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 15px;
	display: inline-block;
	
}
.pergunta_box {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	box-sizing: content-box;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid;
	width: auto;
	padding: 4px;
	margin-bottom: 20px;
        display: inline-block;
	margin: 20px 0px; 
}
.btn {
	margin-right: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin: 0px 0px 50px 0px;
}

.apresentacao {
	display: grid;
  	grid-template-columns: 70% 30%;
  	grid-gap: 10px;
  	margin: 0px 0px 50px 0px;	
}

.wrappergray {
	background-color:#FFECC6/*#CFECFF*/ /*#F0F0F0*/;
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-radius: 25px;*/
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 1400px;
	margin: 0 auto;
}

.wrapperSaibamais {
  	background-color: #F8BE3A;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}

.wrapperFicaadica {
  	background-color:#EC974E;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}

.wrapperDestaque {
	background-color:#F27224;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}

.wrapperImportante {
  	background-color: #EF4238;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}
.wrapperExemplo {
  	background-color: #F7C99C;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}
.wrapperParaRefletir {
  	background-color: #F9F3A2;
	padding-top: 15px;
	padding-bottom: 35px;
        padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}
.wrappergreen {
  	background-color: #357f47;
	padding-top: 15px;
	padding-bottom: 35px;
    padding-left: 25px;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: -10px;
}

.imgLateral {
    bottom: 0;
    margin-left: 25px;
    justify-self: stretch;
	
}
.padraoParaRefletir {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    /*border: solid 2px #93278f;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoParaRefletirIMG {
    background-image: url("img/entomologia/img_comuns/para_refletir.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 125px;
    width: 85px;
    margin-left: -100px;
    margin-top: -45px;
}


.padraoImportante {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
   /* border: solid 2px #FFFFFF;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoImportanteIMG {
    background-image: url("img/entomologia/img_comuns/importante.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 125px;
    width: 85px;
    margin-left: -100px;
    margin-top: -45px;
}

.padraoDestaque {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #F15A24;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}

.padraoDestaqueWI {
    color: #000;
    background-color:#FFF3E7/*#FFDCDD*/ ;
    margin-top: 30px;
	margin-bottom: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 15px;
    text-align: left;
    border: solid 3px #ec0910;
    border-radius: 15px;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoDestaqueIMG {
    background-image: url("img/entomologia/img_comuns/destaque.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

.padraoConceito {
	display: inline-block;
	color: #000;
    margin-top: 50px;
	margin-bottom: 35px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #00A89B;*/
    border-radius: 15px;
    background-color:#ffffff /*#F0F0F0*/;
    margin-left: 55px;
    margin-right: 35px;
	
	
}
.padraoConceitoIMG {
    background-image: url("img/entomologia/img_comuns/conceito.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

.padraoExercitando {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #FFFFFF;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoExercitandoIMG {
    background-image: url("img/entomologia/img_comuns/exercitando.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

.padraoDica {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #0071BC;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoDicaIMG {
    background-image: url("img/entomologia/img_comuns/fica_a_dica.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

.padraoSaibaMais {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #DDBE08;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoSaibaMaisIMG {
    background-image: url("img/entomologia/img_comuns/saiba_mais.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

.padraoOpcional {
    color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
    /*border: solid 2px #70B15B;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
}
.padraoOpcionalIMG {
    background-image: url("img/entomologia/img_comuns/opcional.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 175px;
    width: 85px;
    margin-left: -100px;
    margin-top: -75px;
}

p {
	text-align: justify;
	margin: 0 10px 10px;
}

img {
	padding: 10px;
}

.pull-right {
	float: right;
}


.btn-proepi-green {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-proepi-blue {
	background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-proepi-red {
	background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tabela-conteudo {
	max-width: 1400px;
	border: none;
}

.tabela-conteudo td p {
	background-color: #fff;
	border-radius: 25px;
	padding: 25px;
	
}
.padraoExemplo {
	color: #000;
    margin-top: 30px;
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 15px 15px 15px 60px;
    text-align: left;
   /* border: solid 2px #FFFFFF;*/
    border-radius: 15px;
    background-color: #FFFFFF;
    margin-left: 35px;
    margin-right: 35px;
	
}

.padraoExemploIMG {
	 background-image: url("img/entomologia/img_comuns/exemplo.png");
    background-position: -4px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    float: left;
    height: 125px;
    width: 85px;
    margin-left: -100px;
    margin-top: -45px;
}

.tituloCap0 {
	font-size: 30px;
	font-weight: bold;
	padding-top: -25px !important;
	padding-bottom: 1px;
	border-bottom: 5px solid #ec0910;
        margin-bottom: 15px;
	display: inline-block;
}

.txtcentro {
 display: table;
   width: 100%;
}

.txtCelula {
	display: table-cell;
   vertical-align: middle;
}


.imgCrop {	
	height:auto; 
	overflow: hidden;
	margin: 10px;
}
.tabelahead {
	background-color: #8A8A8A;
	margin-top: 5px;
	color: #FFFFFF;	
	text-align: center;
}


.ident {
	text-indent: 25px;
}

.quadroB {
/*	display: inline-block;*/
	color: #000;
    margin-top: 15px;
/*	margin-bottom: 35px;*/
    font-family: roboto, sans-serif;
	font-weight: 400;
    padding: 0px 10px 0px 15px;
    text-align: left;
   /* border: solid 2px #00A89B;*/
    border-radius: 15px;
    background-color: #ffffff/*#F0F0F0*/;
/*    margin-left: 55px;*/
/*    margin-right: 35px;*/
}

div figcaption {
	text-align: center;
  	font-style: normal;
  	font-size: 12px;
  	text-indent: 0;
}
