.btnQuadro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.more {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.more .more-button {
  display: flex;
}
.more .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0px;
}

.tabQuadro {
  background-color: #e6e6e6;
}
