/* botão quadro */
td {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}
td.hide {
  max-height: 0;
  pointer-events: none;
}
.txtrec img {
  cursor: pointer;
}
.txtrec img:hover {
  background-color: #0f6da3;
  border-radius: 0px 0px 0px 45px;
}
.tabQuadro {
  background-color: #e6e6e6;
}

.btnQuadro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.more {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.more .more-button {
  display: flex;
}
.more p,
.more div {
  cursor: pointer;
}
.more .text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin-left: 0px;
}

tr.hide-tr {
  display: none;
  visibility: hidden;
}
