.sidenav {
  position: fixed;
  top: 15%;
  left: 2%;
  z-index: 1;
}
.sidenav button {
  background-color: #2a7138;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 2px 8px;
  font-size: 20px;
}

.sidenav .nav {
  width: 250px;
  background-color: #2a7138;
  border-radius: 2px;
  padding: 20px 0;
}
.sidenav .nav a {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 30px;
  transition: 0.3s;
}
.sidenav .nav a#featured {
  font-weight: bold;
  margin-bottom: 20px;
}
