.nav-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  display: none;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.nav-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav-bar-block .nav-bar-item {
  width: 100%;
  font-family: "Arial", sans-serif;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
button.nav-button {
  font-weight: bold;
}
.nav-button {
  border: none;
  display: inline-block;
  padding: 24px 20px
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-right: #0f6da3 solid 3px;
}
.nav-button:hover {
  color: #fff !important;
  background-color: #0077b6 !important;
  /*padding: 24px 20px;*/

}
.nav-bar-item:hover {
  color: #fff !important;
  background-color: #7c7c7c !important;
  padding: 8px 16px;
}

.proepi#main {
  transition: margin-left 0.4s;
}

.nav-container {
  padding: 0.01em 16px;
}
.nav-container:after,
.nav-container:before {
  content: "";
  display: table;
  clear: both;
}
.nav-container h3 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 0;
}

.nav-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.nav-teal {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  align-items: center;
  font-size: 20px;
  background-color: #185f99 !important;
  color: #fff !important;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

p.P1Ttulonumerado,
.P11Ttulonumerado,
.TtuloAula {
  scroll-margin-top: 100px;
}


.nav-teal button {
  padding: 29px 17px !important;
  background-color: #185f99 !important;
}
.nav-teal button:hover {
  background-color: #0077b6 !important;
}

/*Menu artt - inicio */



#sidebar-nav::-webkit-scrollbar-track {
  background-color: #0f6da3;
}
#sidebar-nav::-webkit-scrollbar {
  width: 10px;
  background: #F4F4F4;
}
#sidebar-nav::-webkit-scrollbar-thumb {
  background: #eff7ff;
  
}
/*Menu artt - final */