	table.MsoTableGrid {
	  border: solid windowtext 1.0pt;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	  width: 100%;
	}
	p.TtuloAula {
	  margin-top: 18.0pt;
	  margin-right: 0cm;
	  margin-bottom: 24.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	  color: #ffffff;
	}
	p.Fonte {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 8.0pt;
	  margin-left: 0cm;
	  text-align: center;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	  color: gray;
	}
	p.txtrec {
	  margin-top: 12.0pt;
	  margin-right: 5.65pt;
	  margin-bottom: 6.0pt;
	  margin-left: 5.65pt;
	  padding: 10px 20px;
	  line-height: 150%;
	  text-align: justify;
	  font-size: 14.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.MsoNormal {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  line-height: 175% !important;
	  padding: 15px 28px;
	  text-align: justify;
	  font-size: 12pt;
	  font-family: "Arial", sans-serif;
	}
	table.Tabela01 {
	  border: solid white 2.25pt;
	  text-align: center;
	  font-size: 9.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	}
	td li {
	  margin-left: 55px;
	}
	p.txttabela8 {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.txttabela {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	section .proepi {
	  
	  margin: auto;
	}

	html {
	  scroll-behavior: smooth;
	}
	.js .anime {
	  opacity: 0;
	  transform: translate3D(-50px, 0px, 0px);
	}
	.js .anime-init {
	  opacity: 1;
	  transform: translate3D(0px, 0px, 0px);
	  transition: .3s all ease;
	}
	h1 {
	  margin-top: 30px
	}
	td li {
	  line-height: 150%;
	  list-style: disc;
	  font-size: 16.0pt !important;
	  font-family: "Arial", sans-serif;
	}
	td li span {
	  font-size: 16.0pt !important;
	}
	.SN_sumario {
	  position: fixed;
	  z-index: 1;
	  font-family: "Arial", sans-serif;
	  margin: 2;
	}
	.vertical-menu li {
	  background-color: #eee;
	  color: black;
	  display: block;
	  padding: 12px;
	  text-decoration: none;
	}
	table.tabelaneuro {
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	}
	.progress-container {
	  width: 100%;
	  height: 8px;
	  background: #ccc;
	}
	.progress-bar {
	  height: 8px;
	  background: #4caf50;
	  width: 0%;
	}
	.Fonte {
	  overflow: visible;
	}
	.Fonte img {
	  /*max-width: 100%;*/
	  -moz-transition: all 0.3s;
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	}
	.Fonte:hover img {
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	span.txtChar {
	  font-family: "Calibri", sans-serif;
	  color: windowtext;
	}
	span.FonteChar {
	  font-family: "Calibri", sans-serif;
	  color: gray;
	}
	ul, #SN_menu {
	  list-style-type: none;
	}
	#SN_menu {
	  /*margin: 0;*/
	  /*padding: 0;*/
	  text-decoration: none;
	  padding-inline-start: 0px !important;
	}
	.caret {
	  cursor: pointer;
	  -webkit-user-select: none; /* Safari 3.1+ */
	  -moz-user-select: none; /* Firefox 2+ */
	  -ms-user-select: none; /* IE 10+ */
	  user-select: none;
	}
	.nested {
	  display: none;
	  transition: 1s;
	}
	.SN_active {
	  display: block;
	  transition: 1s;
	}
	.SN_main {
	  background-color: #FFFfFF;
	  border: solid 1px #ffffff;
	  color: black;
	}
	a.TtuloAula {
	  margin-top: 18.0pt;
	  margin-right: 0cm;
	  margin-bottom: 24.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	a:link {
	  text-decoration: none;
	  text-decoration-color: black;
	}
	h1 {
	  padding-top: 50px
	}
	table.MsoTableGridLight {
	  border: solid #BFBFBF 1.0pt;
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	}
	p.Pimagem {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  text-align: center;
	  line-height: 150%;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.MsoCaption {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 18.0pt;
	  margin-left: 0cm;
	  text-align: center;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ptexto {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 8.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.P1Ttulonumerado {
	  margin-top: 20.0pt;
	  margin-right: 0cm;
	  list-style-type: decimal;
	  margin-bottom: 18.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 18.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	td div {
	  margin-left: -100px;
	}
	p.P11Ttulonumerado {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 20.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	p.P111Ttulonumerado {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 20.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}

	p.P1111Ttulo {
		margin-top: 30.0pt;
		margin-right: 0cm;
		margin-bottom: 6.0pt;
		margin-left: 0cm;
		line-height: 150%;
		font-size: 16.0pt;
		font-family: "Arial",sans-serif;
		font-weight: bold;
	}

	table.TableNormal {
	  line-height: 107%;
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	}
	span.txtrecChar {
	  font-family: "Arial", sans-serif;
	}
	td div.sabimais {
	  border-radius: 20px;
	  background-color: lightgoldenrodyellow;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	td div.ficaafica {
	  border-radius: 20px;
	  background-color: lightcyan;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	td div.curiosidade {
	  border-radius: 20px;
	  background-color: lightblue;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	p.Pdestaque {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  line-height: 107%;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	table.MZtabela {
	  border: solid white 2.25pt;
	  text-align: center;
	  font-size: 11.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ptextotabela {
	  margin: 0cm;
	  text-align: center;
	  line-height: 115%;
	  font-size: 9.0pt;
	  font-family: "Calibri", sans-serif;
	}
	table.Ptabela {
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	}

    .video-js {
        text-align: center;   
    }

	.artt_barra_footer {
		bottom: 0;
		margin-top: -10px !important;
		position: fixed;
		width: 100%;
		height: 60px;
		background-color: #454545;
		z-index: 1000;
	  }
	  footer {
		position: absolute;
	  }