	table.MsoTableGrid {
	  border: solid windowtext 1.0pt;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	  width: 100%;
	}
	p.TtuloAula {
	  margin-top: 18.0pt;
	  margin-right: 0cm;
	  margin-bottom: 24.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	  color: #ffffff;
	}
	p.Fonte {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 8.0pt;
	  margin-left: 0cm;
	  text-align: center;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	  color: gray;
	}
	p.txtrec {
	  margin-top: 12.0pt;
	  margin-right: 5.65pt;
	  margin-bottom: 6.0pt;
	  margin-left: 5.65pt;
	  padding: 10px 20px;
	  line-height: 150%;
	  text-align: justify;
	  font-size: 14.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.MsoNormal {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  line-height: 175% !important;
	  padding: 15px 28px;
	  text-align: justify;
	  font-size: 12pt;
	  font-family: "Arial", sans-serif;
	}
	table.Tabela01 {
	  border: solid white 2.25pt;
	  text-align: center;
	  font-size: 9.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	}
	td li {
		padding-top: 15px;
		margin-left: 80px;
	}
	td li::marker {
		display: list-item;
		color: #2e2e2e;
		padding-right: 10px;
	  }
	p.txttabela8 {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.txttabela {
	  margin: 0cm;
	  margin-bottom: .0001pt;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	section .proepi {
	  
	  margin: auto;
	}

	html {
	  scroll-behavior: smooth;
	}
	.js .anime {
	  opacity: 0;
	  transform: translate3D(-50px, 0px, 0px);
	}
	.js .anime-init {
	  opacity: 1;
	  transform: translate3D(0px, 0px, 0px);
	  transition: .3s all ease;
	}
	h1 {
	  margin-top: 30px
	}
	.Pnmeros {
	  text-align: justify;
	  line-height: 150%;
	  list-style: decimal;
	  font-size: 16.0pt !important;
	  font-family: "Arial", sans-serif;
	}
	td li {
	  text-align: justify;
	  line-height: 150%;
	  list-style: disc;
	  font-size: 16.0pt !important;
	  font-family: "Arial", sans-serif;
	}
	ol li {
	  list-style: none !important;;
	  }
	td li span {
	  font-size: 16.0pt !important;
	}
	.SN_sumario {
	  position: fixed;
	  z-index: 1;
	  font-family: "Arial", sans-serif;
	  margin: 2;
	}
	.vertical-menu li {
	  background-color: #eee;
	  color: black;
	  display: block;
	  padding: 12px;
	  text-decoration: none;
	}
	table.tabelaneuro {
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  color: black;
	}
	.progress-container {
	  width: 100%;
	  height: 8px;
	  background: #ccc;
	}
	.progress-bar {
	  height: 8px;
	  background: #4caf50;
	  width: 0%;
	}
	.Fonte {
	  overflow: visible;
	}
	.Fonte img {
	  /*max-width: 100%;*/
	  -moz-transition: all 0.3s;
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	}
	.Fonte:hover img {
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	span.txtChar {
	  font-family: "Calibri", sans-serif;
	  color: windowtext;
	}
	span.FonteChar {
	  font-family: "Calibri", sans-serif;
	  color: gray;
	}
	ul, #SN_menu {
	  list-style-type: none;
	}
	#SN_menu {
	  /*margin: 0;*/
	  /*padding: 0;*/
	  text-decoration: none;
	  padding-inline-start: 0px !important;
	}
	.caret {
	  cursor: pointer;
	  -webkit-user-select: none; /* Safari 3.1+ */
	  -moz-user-select: none; /* Firefox 2+ */
	  -ms-user-select: none; /* IE 10+ */
	  user-select: none;
	}
	.nested {
	  display: none;
	  transition: 1s;
	}
	.SN_active {
	  display: block;
	  transition: 1s;
	}
	.SN_main {
	  background-color: #FFFfFF;
	  border: solid 1px #ffffff;
	  color: black;
	}
	a.TtuloAula {
	  margin-top: 18.0pt;
	  margin-right: 0cm;
	  margin-bottom: 24.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	a:link {
	  text-decoration: none;
	  text-decoration-color: black;
	}
	h1 {
	  padding-top: 50px
	}
	table.MsoTableGridLight {
	  border: solid #BFBFBF 1.0pt;
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	}
	p.Pimagem {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  text-align: center;
	  line-height: 150%;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.MsoCaption {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 18.0pt;
	  margin-left: 0cm;
	  text-align: center;
	  font-size: 8.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ptexto {
	  margin-top: 0cm;
	  margin-right: 0cm;
	  margin-bottom: 8.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ppargrafo {
	  margin-top: 12.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  text-align: justify;
	  text-indent: 35.45pt;
	  line-height: 150%;
	  font-size: 16.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.P1Ttulonumerado {
	  margin-top: 20.0pt;
	  margin-right: 0cm;
	  list-style-type: decimal;
	  margin-bottom: 18.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 18.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	td div {
	  margin-left: -100px;
	}
	p.P11Ttulonumerado {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 20.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	p.P111Ttulonumerado {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 6.0pt;
	  margin-left: 0cm;
	  line-height: 150%;
	  border: none;
	  padding: 0cm;
	  font-size: 20.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}

	p.P1111Ttulo {
		margin-top: 30.0pt;
		margin-right: 0cm;
		margin-bottom: 6.0pt;
		margin-left: 0cm;
		line-height: 150%;
		font-size: 16.0pt;
		font-family: "Arial",sans-serif;
		font-weight: bold;
	}

	table.TableNormal {
	  line-height: 107%;
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	}
	span.txtrecChar {
	  font-family: "Arial", sans-serif;
	}
	td div.sabimais {
	  border-radius: 20px;
	  background-color: lightgoldenrodyellow;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	td div.ficaafica {
	  border-radius: 20px;
	  background-color: lightcyan;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	td div.curiosidade {
	  border-radius: 20px;
	  background-color: lightblue;
	  padding: 15px 0px;
	  margin-right: -40px;
	}
	p.Pdestaque {
	  margin-top: 6.0pt;
	  margin-right: 0cm;
	  margin-bottom: 0cm;
	  margin-left: 0cm;
	  line-height: 107%;
	  font-size: 12.0pt;
	  font-family: "Arial", sans-serif;
	  font-weight: bold;
	}
	table.MZtabela {
	  border: solid white 2.25pt;
	  text-align: center;
	  font-size: 11.0pt;
	  font-family: "Arial", sans-serif;
	}
	p.Ptextotabela {
	  margin: 0cm;
	  text-align: center;
	  line-height: 115%;
	  font-size: 10.0pt !important;
	  font-family: "Calibri", sans-serif;
	}
	table.Ptabela {
	  font-size: 11.0pt;
	  font-family: "Calibri", sans-serif;
	  
	}

    .video-js {
        text-align: center;   
    }

	.artt_barra_footer {
		bottom: 0;
		margin-top: -10px !important;
		position: fixed;
		width: 100%;
		height: 60px;
		background-color: #454545;
		z-index: 1000;
	  }
	  footer {
		position: absolute;
	  }

	p.Pcodigo, li.Pcodigo, div.Pcodigo {
	  mso-style-name:P_codigo;
	  mso-style-link:"P_codigo Char";
	  margin-top:6.0pt;
	  margin-right:0cm;
	  margin-bottom:0cm;
	  margin-left:0cm;
	  line-height:150%;
	  font-size:12.0pt;
	  font-family:"Arial",sans-serif;
	  color:white;
	  background:#282A36;
	}

	.Pbutton button a {
		background-color:#ffcc00;
		border-radius:14px;
		border:1px solid #fff766;
		display:inline-block;
		cursor:pointer;
		color:#4d350c;
		font-family:Arial;
		font-size:17px;
		padding:16px 31px;
		text-decoration:none;
	}
	.Pbutton button a:hover {
		background-color:#f57f00;
		color:#ffffff;
	}
	.Pbutton button a:active {
		position:relative;
		top:1px;
	}

	.Pbutton{
		text-align: center;
	}


	button{
		background-color:transparent;
		border: none;
	}
	.Pformula{
		text-align: center;
	}


    .linkInvalido{
        background-color: #cc4d4d;
        background-image: url("data:image/svg+xml,%3Csvg id='destaque' xmlns='http://www.w3.org/2000/svg' fill='rgb(217, 88, 8)' viewBox='0 0 395.52 330.85'%3E%3Cpath d='M388.48,287.5c-.45,2.62-2.33,4.77-4.87,5.56-7.29,2.28-14.9,3.44-22.6,3.44-22.21,0-42.74-9.43-57.13-26.05-15.3,5.59-31.35,8.42-47.8,8.42-19.7,0-38.46-4.12-55.47-11.52-20.37,27.03-52.73,44.54-89.1,44.54-6.36,0-12.73-.54-18.99-1.62-12.91,13.13-30.56,20.59-49.05,20.59-4.35,0-8.76-.42-13.09-1.26-2.75-.53-4.93-2.63-5.56-5.37-.63-2.73,.41-5.58,2.66-7.26,9.04-6.78,14.97-16.74,16.63-27.76C16.41,268.15,0,235.26,0,200.37c0-3.91,3.17-7.09,7.09-7.09s7.09,3.17,7.09,7.09c0,31.68,15.5,61.48,41.47,79.71,2.02,1.42,3.15,3.78,3,6.23-.68,11.04-4.54,21.48-10.96,30.2,14.21-1.1,27.5-7.74,36.96-18.6,1.69-1.93,4.28-2.8,6.8-2.28,6.57,1.38,13.32,2.08,20.07,2.08,30.81,0,58.33-14.4,76.17-36.81,2.95-3.71,5.64-7.63,8.03-11.74,8.35-14.35,13.13-31.02,13.13-48.78,0-45.45-31.31-83.71-73.49-94.38-4.55-1.15-9.23-1.98-14.02-2.47-3.23-.33-6.51-.49-9.83-.49-25.61,0-49.79,9.87-68.09,27.78-2.79,2.74-7.28,2.69-10.02-.11-2.74-2.8-2.69-7.28,.11-10.02,20.96-20.52,48.67-31.82,78-31.82,4.84,0,9.61,.31,14.29,.91C145.85,37.34,196.69,0,256.08,0c29.34,0,57.41,9.01,81.17,26.05,3.18,2.28,3.91,6.71,1.63,9.89-2.28,3.18-6.71,3.91-9.89,1.63-21.34-15.3-46.55-23.39-72.91-23.39-52.49,0-97.54,32.46-116.14,78.36,47.76,12.6,83.08,56.17,83.08,107.84,0,19.96-5.28,38.71-14.5,54.93,14.67,6.04,30.73,9.39,47.56,9.39s32.33-3.12,47.38-9.28c2.98-1.22,6.41-.27,8.35,2.3,11.74,15.64,29.67,24.61,49.2,24.61,1.8,0,3.6-.08,5.38-.23-12.48-13.77-19.43-31.6-19.43-50.66,0-1.21,.04-2.37,.09-3.44,.07-1.65,.72-3.22,1.83-4.44,20.92-23.07,32.45-52.95,32.45-84.12,0-19.27-4.25-37.75-12.65-54.92-1.72-3.52-.26-7.76,3.26-9.48,3.52-1.72,7.76-.26,9.48,3.26,9.35,19.13,14.09,39.7,14.09,61.14,0,33.82-12.19,66.27-34.37,91.67,0,.11,0,.22,0,.33,0,19.52,8.97,37.46,24.61,49.2,2.13,1.6,3.18,4.25,2.73,6.87Zm-32.57-223.74c1.39,1.84,3.51,2.8,5.65,2.8,1.49,0,3-.47,4.28-1.44,3.12-2.37,3.73-6.81,1.36-9.93-1.19-1.57-2.43-3.13-3.68-4.64-2.5-3.01-6.96-3.43-9.98-.94s-3.43,6.96-.94,9.98c1.12,1.35,2.23,2.75,3.3,4.16ZM11.77,168.56c.86,.34,1.74,.5,2.61,.5,2.82,0,5.49-1.7,6.59-4.48,.9-2.29,1.91-4.56,2.98-6.77,1.71-3.52,.25-7.76-3.27-9.47-3.51-1.71-7.76-.25-9.47,3.27-1.23,2.53-2.38,5.14-3.42,7.76-1.44,3.64,.34,7.76,3.98,9.2Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 69px;
        background-position: 6%, 50%;
    }
